.card-header {
    background-color: darkblue;
    color: #ffffff;
  }
  
  .individual-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
  }
  
  .list-group {
    color: white;
    text-decoration: none;
  }